body{
    height: 1000vh;

}
.head{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
}
.head , span{
  text-align: center;
  font-size: 40px;
  line-height: 100px;
  color: black;
}
.right{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 95%;
    float: right;
    border-radius: 50px;
}
.left{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 95%;float: left;
}
.managerimg{
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 200px;
    background-position: top 20px;
    border-top-style: outset ;
    border-radius: 30px;
}
.portright1{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100%;
    float: right;
    margin: 10px;
    border-radius: 10px;
}
.portleft1{
    text-align: center;
    background-color: rgb(248, 248, 248);
    width: 200px;
    height: 100%;
    float: left;
    margin: 10px;
    border-radius: 10px;
}
.imgleft1{
    background-color: red;
    background-color:rgb(248, 248, 248);
    height: 80%;
    border-radius: 30px;
}
.imgleft1 img nav ,a {
    color: black;
}
.imgright1 {
    background-color:rgb(248, 248, 248);
    height: 80%;
    border-radius: 30px;
}
.select{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 1000px;
    margin: 0 auto;
}
.select1{
    margin: 15px;
    font-size: 20px;
    border-radius: 10px;
    float:inline-start
}
.fram{
    background-color: rgb(255, 255, 255); 
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    border-radius: 30px;
}
.Titlebottomimg{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;  
}
#iframehead{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 1000px;
    margin: 0 auto;
}
.iframeleft{
    background-color: blue;
    height: 250px;
    width: 500px; 
    float: left;
    border: 20px solid;
    border-right-color: aqua;
    margin-top: 75px;
    margin-left: 10px;
    border-left-color: aqua;
}
.paragrab{
    border: 10px solid rgb(48, 116, 194);
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 480px; 
    float: right;
    border-bottom-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    text-align: center;
}
.iframeright{
    color: aliceblue;
}
.descriptioniframe{
    color: white;
}
